body {
    background: blue;
}

.icon_link  {
    width: 30px;
    height: 30px;
    background: green;
    margin: 20px;
    display: block;
    position: relative;
    cursor: pointer;
}

.code_link_box {
    display: none;
    width: 50px;
    height: 50px;
    background: grey;
    position: absolute;
    margin: 0 10px;
    border: 1px solid black;
    left: 40px;
}

.icon_link:hover .code_link_box {
    display: block !important;
}